
.bg-nav{
    background-color: #441f6e;
}


#mainMenu li a {
    transition: 0.2s;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
   
    
  }
  
/* Example of increased specificity */
#mainMenu li a:hover {
    border-bottom: 4px solid rgb(255, 255, 76);
    color:rgb(247, 195, 52)
   
    
  }
  