.Storiescontainer{
    width: 100vw;
    height: 100vw;
    background-image: url("https://images.ctfassets.net/pmzhtobns06n/3VOj7B2ODRaKaqQUEwr0eJ/9de6ee9ec9edbd376d84a94ab1fbfe20/Background_Texture.jpg");
}